
.logoTopo {
    margin: 30px 20px 20px 40px;
    width: 90%;
}

.cabecalho {
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.cabecalho .cabecalhoMidia {
    display: none;
}

.cabecalho .cabecalhoMenu span {
    display: none;
}


@media screen and (max-width: 1024px) {
    
    .logoTopo {

        width: 90%;
        /* margin: 40px 20px 20px 40px; */
        margin: 40px 20px;
    }

    .cabecalho {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .cabecalho .linkLogo {
        display: grid;
        justify-items: center;
    }

    .cabecalho .midiasCabecalho {
        display: grid;
    }

    .cabecalho .cabecalhoMidia {
        display: flex;
        align-items: center;
        position: relative;
    }

    .cabecalho .cabecalhoMidia .logoCircle {
        width: 60px;
        height: 60px;
    }

    .cabecalho .cabecalhoMenu {
        position: relative;
    }
    
    .menuDesfoque {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.436);
        width: 110vw;
        height: 150vh;
        right: -40px;
        top: -50px;
    }

    .cabecalho .cabecalhoMenu span {
        display: block;
    }
}